
@media only screen and (max-width: 800px) {
    .bigItem img {
        height: 506px;
    }
    .smallItem img {
        height: 364px;
    }
    .paragraph {
        font-size: 15px;
    }
    .address-container {
        align-items: unset;
    }
    .dish {
        height: 170px;
    }
    .Niche {
        font-size: 40px;
        line-height: 50px;
    }
    .phoneApp {
        width: 350px;
        height: 434px;
    }
    .appImg {

    }
    .footerLogoWrap img {
        width: 100px;
    }
    .footerParagraph {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .bigItem img {
        height: 506px;
    }
    .smallItem img {
        height: 364px;
    }
    .paragraph {
        font-size: 15px;
    }
    .address-container {
        align-items: unset;
    }
    .dish {
        height: 170px;
    }
    .orderHeading {
        top: 75%;
    }
    .appwrap {
        height: 474px;
    }
    /* .Niche {
        font-size: 40px;
        line-height: 50px;
    } */
    .phoneApp {
        width: 350px;
        height: 434px;
    }
    .appImg {

    }
    .footerLogoWrap img {
        width: 100px;
    }
    .footerParagraph {
        font-size: 13px;
    }
}


@media only screen and (max-width: 425px) {
    .colOne, .colTwo, .flexContentOne, .flexContentTwo, .appContentOne, .appContentTwo{
        min-width: 100%;
    }
    .navbar {
        margin-top: 20px;
    }
    .navbar-brand img {
        width: 150px;
    }
    .nav-item {
        text-align: center;
    }
    .IntroImg {
        text-align: center;
        margin-left: 70px;
    }
    .flex-container {
        align-items: center;
    }
    .showImgWeb {
        display: none;
    }
    .bigItem {
        min-width: 100%;
    }
    .bigItem img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 25px;
    }
    .smallItem img {
        height: 300px;
    }
    .about {
        padding: 20px 0;
    }
    .paragraph {
        font-size: 15px;
        line-height: 22px;
    }
    .flex-container {
        align-items: center;
    }
    .flexItems img {
        height: 250px;
    }
    .bigItem h1 {
        top: 14%;
        font-size: 65px;
        text-align: center;
        left:32%;
    }
    .orderHeading {
        top: 40%;
        left: 32%;
    }
    .appContent {
        text-align: center;
        margin-left: 30px;
    }
    .aboutFlex {
        text-align: center;
    }
    .showImgMobile {
        display: block;
    }
    .food2potDish {
        text-align: center;
    }
    .sideImgWrap {
        text-align: center;
        margin-left: 55px;
    }
    .dish {
        height: 90px;
    }
    .addressWrap {
        height: 700px;
    }
    .addressContact li {
        font-size: 14px
    }
    .addressContact li {
        text-align: center;
    }
    .forWeb {
        display: none;
    }
    .forMobile {
        display: block;
    }
    .mobileContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .food2potApp {
        background-repeat: no-repeat;
        margin-bottom: 0;
    }
    .food2potAppWrap {
        text-align: center;
        margin-left: -35px;
    }
    .appBtnWrap {
        margin: 30px 0;
    }
    .appwrap {
        border-radius: unset;
        background-position: center;
        height: unset;
    }
    .NicheMobile {
        display: block;
        font-size: 20px;
        line-height: 25px;
        color: #fff;
    }
    .Niche {
        display: none;
    }
    .appStores li {
        margin: 5px;
    }
    .appImg {
        width: 66px;
    }
    .appContent {
        padding: 20px 40px;
    }
    .phoneApp {
        margin-top: -45px;
        width: 265px;
        height: 290px;
    }

    .footerLogoWrap img{
        width: 100px;
    }
}


@media only screen and (max-width: 375px) {
    .colOne, .colTwo, .flexContentOne, .flexContentTwo, .appContentOne, .appContentTwo{
        min-width: 100%;
    }
    .navbar {
        margin-top: 20px;
    }
    .navbar-brand img {
        width: 150px;
    }
    .nav-item {
        text-align: center;
    }
    .IntroImg {
        text-align: center;
        margin-left: 30px;
    }
    .flexItems {
        text-align: center;
    }
    .flex-container {
        align-items: center;
    }
    .showImgWeb {
        display: none;
    }
    .bigItem {
        min-width: 100%;
    }
    .bigItem img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 25px;
    }
    .smallItem img {
        height: 300px;
    }
    .about {
        padding: 20px 0;
    }
    .paragraph {
        font-size: 15px;
        line-height: 22px;
    }
    .flex-container {
        align-items: center;
    }
    .flexItems img {
        height: 250px;
    }
    .bigItem h1 {
        top: 14%;
        font-size: 65px;
        text-align: center;
        left: 30%;
    }
    .orderHeading {
        top: 40%;
        left: 30%;
    }
    .aboutFlex {
        text-align: center;
    }
    .showImgMobile {
        display: block;
    }
    .appContent {
        margin-left: 0;
    }
    .sideImgWrap {
        text-align: center;
        margin-left: 30px;
    }
    .dish {
        height: 90px;
    }
    .addressWrap {
        height: 700px;
    }
    .addressContact li {
        font-size: 14px
    }
    .addressContact li {
        text-align: center;
    }
    .forWeb {
        display: none;
    }
    .forMobile {
        display: block;
    }
    .mobileContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .food2potApp {
        background-repeat: no-repeat;
        margin-bottom: 0;
    }
    .food2potAppWrap {
        text-align: center;
        margin-left: -35px;
    }
    .appBtnWrap {
        margin: 30px 0;
    }
    .appwrap {
        border-radius: unset;
        background-position: center;
        height: unset;
    }
    .NicheMobile {
        display: block;
        font-size: 20px;
        line-height: 25px;
        color: #fff;
    }
    .Niche {
        display: none;
    }
    .appStores li {
        margin: 5px;
    }
    .appImg {
        width: 66px;
    }
    .appContent {
        padding: 20px 53px;
    }
    .phoneApp {
        margin-top: -45px;
        width: 265px;
        height: 290px;
    }

    .footerLogoWrap img{
        width: 100px;
    }
}

@media only screen and (max-width: 360px) {
    .colOne, .colTwo, .flexContentOne, .flexContentTwo, .appContentOne, .appContentTwo{
        min-width: 100%;
    }
    .navbar {
        margin-top: 20px;
    }
    .navbar-brand img {
        width: 150px;
    }
    .nav-item {
        text-align: center;
    }
    .IntroImg {
        text-align: center;
        margin-left: 30px;
    }
    .flexItems {
        text-align: center;
    }
    .flex-container {
        align-items: center;
    }
    .showImgWeb {
        display: none;
    }
    .bigItem {
        min-width: 100%;
    }
    .bigItem img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 25px;
    }
    .smallItem img {
        height: 300px;
    }
    .about {
        padding: 20px 0;
    }
    .appContent {
        margin-left: 0;
    }
    .paragraph {
        font-size: 15px;
        line-height: 22px;
    }
    .flex-container {
        align-items: center;
    }
    .flexItems img {
        height: 250px;
    }
    .bigItem h1 {
        top: 14%;
        font-size: 65px;
        text-align: center;
        left: 30%;
    }
    .orderHeading {
        top: 40%;
        left: 30%;
    }
    .aboutFlex {
        text-align: center;
    }
    .showImgMobile {
        display: block;
    }

    .sideImgWrap {
        text-align: center;
        margin-left: 30px;
    }
    .dish {
        height: 90px;
    }
    .addressWrap {
        height: 700px;
    }
    .addressContact li {
        font-size: 14px
    }
    .addressContact li {
        text-align: center;
    }
    .forWeb {
        display: none;
    }
    .forMobile {
        display: block;
    }
    .mobileContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .food2potApp {
        background-repeat: no-repeat;
        margin-bottom: 0;
    }
    .food2potAppWrap {
        text-align: center;
        margin-left: -35px;
    }
    .appBtnWrap {
        margin: 30px 0;
    }
    .appwrap {
        border-radius: unset;
        background-position: center;
        height: unset;
    }
    .NicheMobile {
        display: block;
        font-size: 20px;
        line-height: 25px;
        color: #fff;
    }
    .Niche {
        display: none;
    }
    .appStores li {
        margin: 5px;
    }
    .appImg {
        width: 66px;
    }
    .appContent {
        padding: 20px 45px;
    }
    .phoneApp {
        margin-top: -45px;
        width: 265px;
        height: 290px;
    }

    .footerLogoWrap img{
        width: 100px;
    }
}


@media only screen and (max-width: 320px) {
    .colOne, .colTwo, .flexContentOne, .flexContentTwo, .appContentOne, .appContentTwo, .forMobile{
        min-width: 100%;
    }
    .navbar {
        margin-top: 20px;
    }
    .navbar-brand img {
        width: 150px;
    }
    .nav-item {
        text-align: center;
    }
    .IntroImg {
        text-align: center;
        margin-left: 0;
    }
    .flex-container {
        align-items: center;
    }
    .showImgWeb {
        display: none;
    }
    .bigItem {
        min-width: 100%;
    }
    .bigItem img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 25px;
    }
    .smallItem img {
        height: 300px;
    }
    .about {
        padding: 20px 0;
    }
    .paragraph {
        font-size: 15px;
        line-height: 22px;
    }
    .flexItems {
        text-align: center;
    }
    .flexItems img {
        height: 250px;
    }
    .bigItem h1 {
        top: 20%;
        font-size: 65px;
        text-align: center;
        left: 22%;
    }
    .orderHeading {
        top: 50%;
        left: 22%;
    }
    .aboutFlex {
        text-align: center;
    }
    .showImgMobile {
        display: block;
    }
    .appContent {
        margin-left: 0;
    }
    .sideImgWrap {
        text-align: center;
        margin-left: 0;
    }
    .dish {
        height: 90px;
    }
    .addressWrap {
        height: 700px;
    }
    .addressContact li {
        font-size: 14px
    }
    .addressContact li {
        text-align: center;
    }
    .forWeb {
        display: none;
    }
    .forMobile {
        display: block;
    }
    .mobileContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .food2potApp {
        background-repeat: no-repeat;
        margin-bottom: 0;
    }
    .appBtnWrap {
        margin: 30px 0;
    }
    .appwrap {
        border-radius: unset;
        background-position: center;
        height: unset;
    }
    .NicheMobile {
        display: block;
        font-size: 20px;
        line-height: 25px;
        color: #fff;
    }
    .Niche {
        display: none;
    }
    .appStores li {
        margin: 5px;
    }
    .appImg {
        width: 62px;
    }
    .appContent {
        padding: 0 40px;
    }
    .phoneApp {
        margin-top: -45px;
        width: 265px;
        height: 290px;
    }

    .footerLogoWrap img{
        width: 100px;
    }
}